@model OnboardingDervico.Models.useronboard

@{
    ViewData["Title"] = "EditOnboardUser";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}
<style>
    .content-page1{
        margin-left:20px;
        margin-top:10px;

</style>

<h1>EditOnboardUser</h1>

<h4>useronboard</h4>
<hr />
<body>
<div class="content-page1">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

 <form asp-action="EditOnboardUser">
<div class="row align-items-center">
             <div class="col-sm-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="empId" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surname" class="control-label"></label>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailId" class="control-label"></label>
                <input asp-for="emailId" class="form-control" />
                <span asp-validation-for="emailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="businessUnit" class="control-label"></label>
                <input asp-for="businessUnit" class="form-control" />
                <span asp-validation-for="businessUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department" class="control-label"></label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="team" class="control-label"></label>
                <input asp-for="team" class="form-control" />
                <span asp-validation-for="team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subTeam" class="control-label"></label>
                <input asp-for="subTeam" class="form-control" />
                <span asp-validation-for="subTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="position" class="control-label"></label>
                <input asp-for="position" class="form-control" />
                <span asp-validation-for="position" class="text-danger"></span>
            </div>
            </div>
         <div class="col-sm-5">
            <div class="form-group">
                <label asp-for="jobProfile" class="control-label"></label>
                <input asp-for="jobProfile" class="form-control" />
                <span asp-validation-for="jobProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="derivcoManager" class="control-label"></label>
                <input asp-for="derivcoManager" class="form-control" />
                <span asp-validation-for="derivcoManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costCentre" class="control-label"></label>
                <input asp-for="costCentre" class="form-control" />
                <span asp-validation-for="costCentre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Back to List</a>
</div>
</body>
